gradle
gradlew*
.gradle
local.properties
.DS_Store
build/

# Legacy
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Crashlytics
com_crashlytics_export_strings.xml
crashlytics-build.properties

react-native-consumer-app/node_modules/
node_modules/
react/node_modules
.apk
gradle.properties
